/checkpoints
/data
/GIF Frames

/Implementations/Flexible CNN/data
/Advanced Architectures and Deployment/Module 1/Simple ResNet/data
/Advanced Architectures and Deployment/Module 1/DenseNet/data
/Advanced Architectures and Deployment/Module 1/MobileNet/data